body {
  min-width: 400px;
  overflow: auto;
  max-height: 600px;
}

.logo {
  width: 36px;
  vertical-align: middle;
  display: inline-block;
}

.movie-metadata {
  font-size: 12px;
  color: #999;
}

.movie-metadata span {
  display: inline-block;
}

.movie-link {
  display: block;
  font-weight: bold;
}

.movie-poster {
  border: 1px solid black;
}

.separator {
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.content .track-list {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

.track-list {
  font-size: 12px;
  max-height: 11em;
  overflow: auto;
}

.track-list li + li {
  margin-top: 0.5em;
}

.track-list .track-title {
  font-size: 14px;
}

.track-list .track-artist {
  font-size: 12px;
  margin-top: 5px;
  color: #494949;
  text-transform: uppercase;
}

.track-list .track-artist:before {
  content: "\a0\2014\a0";
}

.track-info-area {
  margin-top: 1em;
}

.hero-body,
.footer,
.section,
.notification {
  padding: 0.75rem 1rem;
}

.footer {
  font-size: 13px;
}

.hero.is-primary {
  background-color: #eccb3f;
}

a {
  color: #cc9933;
}

.button.is-primary {
  background-color: #e4b923;
}

.button.is-primary.is-hovered,
.button.is-primary:hover {
  background-color: #cc9933;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.select:after,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus {
  border-color: #f8e883;
}

.spotify-button {
  background-color: #2ebd59;
  color: #fff;
  margin-top: 1em;
  border-color: transparent;
  -webkit-transition: background-color 86ms ease-out;
  transition: background-color 86ms ease-out;
}

.button.spotify-button.is-hovered,
.button.spotify-button:hover {
  background-color: #84bd00;
  color: #fff;
  border-color: transparent;
}

.columns {
  display: -webkit-box;
  display: flex;
}

.movie-column {
  -webkit-box-flex: 0;
  flex: none;
  width: 25%;
}

.search-form {
  margin-bottom: 1em;
}

.notification:not(:last-child) {
  margin-bottom: 1em;
}
